html,
body {
  height: 100%;
}

.is-fullwidth {
  min-width: 100%;
}

.is-fullheight {
  min-height: 100%;
  height: 100%;
}

.has-text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#global-progress {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}
