package component

import common "github.com/bornholm/oplet/internal/http/handler/webui/common/component"

type IndexPageVModel struct {
	Navbar common.NavbarVModel
}

templ IndexPage(vmodel IndexPageVModel) {
	@AdminPage(AdminPageVModel{ActiveMenuLinkIndex: 0, Title: "admin.dashboard", Navbar: vmodel.Navbar}) {
	}
}
